<h2>New Sub</h2>

<form action="<%= subs_url %>" method="POST">
  <%= auth_token %>

  <label>
    Title:
    <input type="text" name="sub[title]">
  </label>


  <label>
    Description:
    <textarea name="sub[description]"><%= @sub.description %></textarea>
  </label>

  <button>Create Sub</button>

  </form>