div {
  height: 400px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

p {
  background-color: #7fdbff;
}

#third-div {
  min-height: 10px;
  height: auto;
}

.image-1-container{
  width: 200px;
  height: 600px;
  display: inline-block;
}

#cat{
  width: 100%;
  height: 100%;
}

.new_image-1-container{
  width: 200px;
  height: auto;
  display: inline-block;
}