.col {
  float: left;
  box-sizing: border-box;
}

.col-66 {
  width: 66.6666%;
}
.col-33 {
  width: 33.3333%;
}
.col-50 {
  width: 50%;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }

}