  <nav class="sections-nav">
    <ul class="nav-links">
    <li><button><a href="#">World</a></button></li>
    <li><button><a href="#">San Fransisco</a></button></li>
    <li><button><a href="#">New York</a></button></li>
    <li><button><a href="#">Bootcamp Prep</a></button></li>
    <li><button><a href="#">Jumpstart</a></button></li>
    <li><button><a href="#">Online</a></button></li>
    <li><button><a href="#">Marketing</a></button></li>
    <li><button><a href="#">Sales</a></button></li>
    <li><button><a href="#">TalentMatch</a></button></li>
    <li><button><a href="#">Alumni</a></button></li>
    <li><button><a href="#">All</a></button></li>
    </ul>
  </nav>
