<h2>Edit User!</h2>

<form action="<%= user_url(@user) %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
  <%= auth_token %>
    <label>Username
      <input type="text" name="user[username]", value="<%= @user.username %>">
    </label>
    <br>
    <label>Password
      <input type="password" name="user[password]" >
    </label>
    <br>
    
  <button>Edit User!</button>
</form>