<h1>New User</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label for="new-user-email">Email</label>
  <input id="new-user-email" type="text" name="user[email]">
  <br>
  <label for="new-user-password">Password</label>
  <input id="new-user-password" type="text" name="user[password]">
  <button>Submit</button>
</form>