/* PHASE 5: Cats */
.content-header {
  background-image: url(../images/cats.jpg); 
  position: relative;
  height: 200px;
  background-size: cover;
  width: 100%;
  position:relative;
}

.sennacy-header {
  position: absolute;
  color: white;
  text-shadow: #000 0 0 5px;
  font-size: 30px;
  text-align: center;
  bottom: 10px;
  left: 250px;
}

.content-header-add-friend-button {
  border-radius: 5px;
  background: white;
  position: absolute;
  font-weight: bold;
  right: 20px;
  border: 1px solid black;
  bottom: 10px;
  padding: 10px 20px;
}