.main-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: arial;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  margin-right: 50px;
}

.right-nav > ul > li {
  font-family: arial;
  font-size: 12px;
  text-transform: uppercase;
  margin: 2px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: #f7f7f5;
}

.left-nav span {

}

.right-nav i {
  font-size: 16px;
}

.hidden {
  display: none;
}

#gear-dropdown-btn {
  position: relative;
}
